In [ ]:
# В базе данных teacher создайте таблицу Students

# Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)

# Наполните таблицу следующими данными:

# 201, Иван, 1
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

# Формат вывода:

# ID Студента:
# Имя студента:
# ID школы:
# Название школы:

In [1]:
import sqlite3

connection = sqlite3.connect('teatchers.db')    
cursor = connection.cursor()      
sqlquery = '''CREATE TABLE Students (
Student_Id INTEGER, 
Student_Name TEXT,
School_Id INTEGER PRIMARY KEY);'''

cursor.execute(sqlquery)     
connection.commit()        
connection.close()

In [2]:
connection = sqlite3.connect('teatchers.db')    
cursor = connection.cursor()      
sqlquery = '''INSERT INTO Students 
VALUES 
(201, 'Иван', 1),
(202, 'Петр', 2),
(203, 'Анастасия', 3),
(204, 'Игорь', 4);'''

cursor.execute(sqlquery)     
connection.commit()        
connection.close()

In [3]:
import sqlite3

def get_connection():
    connection = sqlite3.connect('teatchers.db')
    return connection

def close_connection(connection):
    if connection:       # если connection существует
        connection.close()


def get_student_detail(student_id):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        sql_query = "SELECT student_id, student_name, Students.School_Id, school_name FROM Students LEFT JOIN School ON School.School_Id=Students.School_Id WHERE Student_Id = ?";
        cursor.execute(sql_query, (student_id,))    
        records = cursor.fetchall()
        print(records)
        for row in records:
            print("ID студента: ", row[0])
            print("Имя студента: ", row[1])
            print("ID школы: ", row[2])
            print("Название школы: ", row[3])
        close_connection(connection)
    except (Exception, sqlite3.Error) as error:
        print("Ошибка в получении данных ", error)


get_student_detail(202)

[(202, 'Петр', 2, 'Преспектива')]
ID студента:  202
Имя студента:  Петр
ID школы:  2
Название школы:  Преспектива